* {
    padding: 0;
    margin: 0;
}

/*cabeçalho*/
header {
    display: flex;
    
    justify-content: space-around;
   /*espaço entre itens*/
    flex-direction: row;
    flex-wrap: wrap; /*serão quebrados se necessário*/
    align-content: center;
    align-items: center;
    line-height: 80px;
    width: 100vw;
   background-color: darkorange;
}


input { 
   height: 40px;
   position: relative;
   width: 25vw;
   
}

.title {
    color: black;
    font-size: xx-large;
    text-decoration: none;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*rodapé*/

footer {    
   background-color: dimgray;
   color: white;
   text-align: center;
   line-height: 80px;
}

/*corpo principal com os vídeos*/
main {
    display: flex;
    justify-content: space-around;
   /*espaço entre itens*/
    flex-direction: row;
    flex-wrap: wrap; /*serão quebrados se necessário*/
    align-content: center;
    line-height: 40vw;
    margin-top: 5vw;
    margin-bottom: 20vw;    
}

.item {
    width: 95vw;    
    display: flex;
    justify-content: space-around;
   /*espaço entre itens*/
    flex-direction: row;
    flex-wrap: wrap; /*serão quebrados se necessário*/
    align-content: center;
    
}

.videos {
    display: flex;
    margin: 2vw;    
    
}

.videos:hover {
    opacity: 0.5;
}
   
img {
    
    height: 30vh;
    width: 30vh;
}
/*páginas vídeos clicados*/
section {
    display: flex;
    justify-content: space-around;
   /*espaço entre itens*/
    flex-direction: column;
    flex-wrap: wrap; /*serão quebrados se necessário*/
    align-content: center;
    height: 50vw;
   margin-top: 5vw;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

video {
    display: flex;
    height: 40vw;
}

h2 {
    display: inline;
        text-align: center;
}

  @media screen and (min-device-width : 320px) and (max-device-width : 420px) {
    img {
        width: 80vw;
        height: 80vw;
    } 
    
    section {           
        justify-content: start;
        height: 90vh;
    }

    video {
        height: 50vw;
        margin-top: 5vw;
    }
}






